.biography-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.about-title {
    color: whitesmoke;
    font-family: 'Neue Montreal';
}

.biography {
    overflow: auto;
    height: 100%;
    padding-left: 1.8vw;
    padding-top: 3.8vw;
    padding-right: 7.4vw;
    padding-bottom: 7.4vw
}

.biography-text p{
    color: whitesmoke;
    font-family: 'Neue Montreal';
}

.mailing-list-link {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Neue Montreal';
}

.mailing-list-link:hover {
    text-decoration: underline;
}

@media only screen and (max-height: 480px) {
    .biography {
        padding-left: 20vh;
    }
}

@media only screen and (max-width: 780px) {
    .biography {
        padding-left: 61px;
    }
}