.films-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.film-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.film-titles {
    overflow: auto;
}

.film-info {
    color: whitesmoke;
    font-family: 'Aktiv Grotesk';
    overflow: auto;
    height:100%;
}

.film-titles {
    padding-left: 1.8vw;
    padding-top: 3.8vw;
}

.film-titles button {
    display: block;
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Aktiv Grotesk';
    margin-bottom: 10px;
}

/* .film-titles button:hover {
text-decoration: underline;
} */

.film-titles button:focus {
    outline: 0;
    padding:0;
}

.button-selected{
    background: whitesmoke;
    color: black;
    padding:0;
}

.button-selected:hover{
    text-decoration: none;
}

.button-deselected{
    background: black;
    color: whitesmoke;
    padding:0;
}

.button-deselected:hover{
    text-decoration: underline;
}

.film-info-content-invisible {
    display: none;
}

.film-info-content-visible{
    display: block;
    position: absolute;
    top: 0;
    padding: 3.8vw 5vw 1.8vw 5vw;
    height: 100%;
    overflow: auto;
}

.film-unit-body{
    overflow: auto;
}

.film-info-content-visible a {
    position: inherit;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 7.4vw;
}

.film-info-content-visible a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 780px) {
    .film-titles {
        width: 25vw;
        overflow: auto;
    }
}