.films-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.film-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.film-titles {
    overflow: auto;
}

.film-info {
    color: whitesmoke;
    font-family: 'Neue Montreal';
    overflow: auto;
    height:100%;
}

.film-titles {
    padding-left: 1.8vw;
    padding-top: 3.8vw;
}

.film-titles button {
    display: block;
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Neue Montreal';
    margin-bottom: 10px;
}

.film-titles button:focus {
    outline: 0;
    padding:0;
}

.button-selected{
    background: whitesmoke;
    color: black;
    padding:0;
}

.button-selected:hover{
    text-decoration: none;
}

.button-deselected{
    background: black;
    color: whitesmoke;
    padding:0;
}

.button-deselected:hover{
    text-decoration: underline;
}

.film-info-content-invisible {
    display: none;
}

.film-info-content-visible{
    display: block;
    position: absolute;
    top: 0;
    padding: 3.8vw 5vw 1.8vw 5vw;
    height: 100%;
    overflow: auto;
}

.film-unit-body{
    overflow: auto;
}

.film-info-content-visible a {
    position: inherit;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 7.4vw;
}

.film-info-content-visible a:hover {
    text-decoration: underline;
}

.mobile-film-titles{
    display: none;
}
@media only screen and (max-width: 780px) {
    .mobile-film-titles{
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: black;
        display: block;
        border-bottom: solid 2px whitesmoke;
        padding: 1vw;
    }
    .mobile-film-titles-button{
        padding-top: 10px;
    }
    .film-info-content-visible{
        margin-top: 30px;
    }
    .mobile-film-titles button{
        display: block;
        border: none;
        text-align: left;
        text-decoration: none;
        cursor: pointer;
        font-family: 'Neue Montreal';
        margin-bottom: 10px;
        margin-left: 2.8vw;
    }
    .mobile-film-titles button:focus {
        outline: 0;
    }
    .film-info-content-visible{
        position: absolute;
        top: 25px;
        left: 0px;
        z-index: 5;
    }
    .titles-open{
        display: block;
    }
    .titles-open button{
        padding: 0;
        margin-left: 3.9vw;
    }
    .mobile-film-titles-button{
        color: whitesmoke;
        background: black;
        cursor: pointer;
        font-family: 'Neue Montreal';
    }
    .film-info-content-invisible{
        display: none;
    }
    .film-titles {
        display: none;
    }

    .titles-closed{
        display: none;
    }
}