@font-face {
    font-family: "Grafier";
    src: url("../fonts/Grafier-RegularText.ttf");
  }

  @font-face {
    font-family: "Aktiv Grotesk";
    src: url("../fonts/AktivGrotesk-Regular.ttf");
  }

.nav-container{
    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    width: 80vw;
    padding-top: 1vh;
}

@media only screen and (max-height: 480px) {
    .nav-container{
        width: calc(80vh * 1.777)
    }
}

@media only screen and (max-width: 780px) {
    .nav-container{
        width: 100%;
    }
}

.nav-items{
    display: flex;
}

.nav-items a{
    text-decoration: none;
    font-family: 'Aktiv Grotesk';
    color: whitesmoke;
}

.nav-items a:hover{
    text-decoration: underline;
}

.nav-spacer {
    width: 2vw;
}

.logo {
    margin-left: auto;
    font-family: 'Grafier';
    color: whitesmoke;
}

.active-nav-link {
    color: black;
    background-color: whitesmoke;
}

