.landing-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 200;
    font-family: 'Grafier', italic;
    text-align: center;
    font-size: 11vw;
    font-family: 'Grafier';
    -webkit-text-stroke: 1px whitesmoke;
    color: transparent;
}

@media only screen and (max-width: 460px) {
    .landing-title {
    font-size: 15vw;
    -webkit-text-stroke: .5px whitesmoke;
    color: transparent;
    }
}